.animationed-cover {
    transition: clip-path 0.4s;
    display: inline-block;
    position: relative;
    clip-path: var(--clip-path-animation-start);
}

.animationed-cover.show {
    clip-path: var(--clip-path-animation-end);
    animation: clip-path-animation 0.4s;
}

.animationed-cover > div.cover-layer {
    transition: clip-path 0.4s 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(var(--theme-color));
    clip-path: var(--clip-path-animation-start);
    z-index: 1;
}

.animationed-cover.show > div.cover-layer {
    clip-path: var(--clip-path-animation-end);
    animation: clip-path-animation 0.4s 0.4s;
}

.animationed-cover > div.cover-layer.highlight {
    background: rgb(var(--highlight-color));
    color: rgb(var(--highlight-text-color));
}