.animationed-cover {
    transition: clip-path 0.4s var(--animation-delay);
    display: inline-block;
    position: relative;
    clip-path: var(--clip-path-animation-start);
}

.animationed-cover.open {
    clip-path: var(--clip-path-animation-end);
}

.animationed-cover > div.cover-layer {
    transition: clip-path 0.4s calc(var(--animation-delay) + 0.4s);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(var(--theme-color));
    clip-path: var(--clip-path-animation-start);
    z-index: 1;
}

.animationed-cover.open > div.cover-layer {
    clip-path: var(--clip-path-animation-end);
}

.animationed-cover > div.cover-layer.highlight {
    background: rgb(var(--highlight-color));
    color: rgb(var(--highlight-text-color));
}