@namespace HyperUIWidget

<div class="popover-panel-mask @(stateClassFlag)">
    <AnimationedCover @ref=animationedCoverReference IsAutoOpen=false IsHighlightCover=true WidgetAnimationDirection=CilpPathAnimationDirectionDefault.DirectionDefault.FromTop CoverAnimationDirection=CilpPathAnimationDirectionDefault.DirectionDefault.ToBottom>
        <div class="popover-panel-body">
            @(ChildContent)
        </div>
    </AnimationedCover>
</div>

@code {
    /// <summary>
    /// 子组件
    /// </summary>
    [Parameter] public RenderFragment? ChildContent { get; set; }
    string? stateClassFlag = null;

    AnimationedCover? animationedCoverReference;

    public void Show()
    {
        stateClassFlag = "open";

        animationedCoverReference?.Show();
    }

    public void Hide()
    {
        stateClassFlag = null;

        animationedCoverReference?.Hide();
    }
}
