body.style_light{
    background-color: rgb(235, 235, 235);
    --AcrylicFontColor: rgb(235, 235, 235);
    --AcrylicBorder: rgba(100, 100, 100, 0.5);
    --Acrylic: rgba(50, 50, 50, 0.5);
    margin: 0;
    padding: 0;
}

/*LeftBar Body*/
@media screen and (min-width: 960px) {
    div.LeftBar{
        transition: 0.25s;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 350px;
        border: 0;
        border-right: 2.5px solid var(--AcrylicBorder);
        color: var(--AcrylicFontColor);
        background-color: var(--Acrylic);
        backdrop-filter: blur(15px);
    }

    div.WithLeftBarBody{
        transition: 0.25s;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: calc(100% - 350px);
    }
}

@media screen and (max-width: 960px) {
    div.LeftBar{
        transition: 0.25s;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 0px;
        border: 0;
        color: var(--AcrylicFontColor);
        background-color: var(--Acrylic);
        backdrop-filter: blur(15px);
    }

    div.WithLeftBarBody{
        transition: 0.25s;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
    }
}

/*Button*/
button{
    border: 0;
    border-radius: 2.5px;
    color: rgb(235, 235, 235);
    background-color: rgb(52, 152, 219);
    padding: 10px;
    margin: 5px;
}
