*{
    transition: 0.05s;
    outline: none;
    user-select: none;
}

body.Style_Light{
    background-color: rgb(240, 240, 240);
    color: rgb(0, 0, 0);
    --GlobalColor: rgb(0, 0, 0);

    --BoxBackground: rgba(0, 0, 0, 0.5);
}

/*button*/
button{
    display: inline-block;
    border: 0;
    color: rgb(255, 255, 255);
    background-color: rgb(52, 152, 219);
    padding: 10px;
    margin: 10px;
}

button.none{
    color: var(--GlobalColor);
    background-color: rgba(0, 0, 0, 0);
}

button:hover{
    background-color: rgb(32, 132, 199);
}

button.none:hover{
    background-color: var(--BoxBackground);
}

button:active{
    background-color: rgb(12, 112, 179);
}