/*
    HyperUI main.css

    Please link this file to the header of your HTML file, such as: _Host.cshtml
    It should be like this:
    <head>
        ...
        <link rel="stylesheet" href="~/HyperUI/Assets/styles/main.css">
        ...
    </head>
*/

@import './palette.css';

* {
    -webkit-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}