@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<AnimationedCover IsAutoOpen="true">
    <button @onclick="@(() => PanelRef?.Show())">Open Panel</button>
</AnimationedCover>


<PopoverPanel @ref=PanelRef>
    <div>
        <h1>Hello, world!</h1>
        <p>Welcome to your new app.</p>

        <br />
        <br />

        <div>
            <button>Button</button>

            <button highlight>Highlight Button</button>

            <AnimationedButton>AnimationedButton</AnimationedButton>

            <AnimationedButton>
                <ChildContent>
                    Continue
                </ChildContent>
                <ContentOnHover>
                    LogIn &rarr;
                </ContentOnHover>
            </AnimationedButton>

            <AnimationedButton ShouldAlwaysHighlight=true>Selected</AnimationedButton>
        </div>
        <br />
        <div>
            <input placeholder="input" />
        </div>
        <br />
        <AnimationedButton OnClickCallback="@(() => PanelRef?.Hide())">
            <ChildContent>
                To close panel, click me
            </ChildContent>
            <ContentOnHover>
                Close Panel
            </ContentOnHover>
        </AnimationedButton>
    </div>
</PopoverPanel>

@code {
    PopoverPanel? PanelRef;
}