/*
    本文件定义动画样式与动画属性预设
*/

.clip-path-animation--from-top {
    --clip-path-animation-start: inset(0 0 100% 0 round var(--radius));
    --clip-path-animation-end: inset(0 0 0 0 round var(--radius));
}

.clip-path-animation--to-top {
    --clip-path-animation-start: inset(0 0 0 0 round var(--radius));
    --clip-path-animation-end: inset(0 0 100% 0 round var(--radius));
}

.clip-path-animation--from-left {
    --clip-path-animation-start: inset(0 100% 0 0 round var(--radius));
    --clip-path-animation-end: inset(0 0 0 0 round var(--radius));
}

.clip-path-animation--to-left {
    --clip-path-animation-start: inset(0 0 0 0 round var(--radius));
    --clip-path-animation-end: inset(0 100% 0 0 round var(--radius));
}

.clip-path-animation--from-right {
    --clip-path-animation-start: inset(0 0 0 100% round var(--radius));
    --clip-path-animation-end: inset(0 0 0 0 round var(--radius));
}

.clip-path-animation--to-right {
    --clip-path-animation-start: inset(0 0 0 0 round var(--radius));
    --clip-path-animation-end: inset(0 0 0 100% round var(--radius));
}

.clip-path-animation--from-bottom {
    --clip-path-animation-start: inset(100% 0 0 0 round var(--radius));
    --clip-path-animation-end: inset(0 0 0 0 round var(--radius));
}

.clip-path-animation--to-bottom {
    --clip-path-animation-start: inset(0 0 0 0 round var(--radius));
    --clip-path-animation-end: inset(100% 0 0 0 round var(--radius));
}

@keyframes clip-path-animation {
    0% {
        clip-path: var(--clip-path-animation-start);
    }

    100% {
        clip-path: var(--clip-path-animation-end);
    }
}
