/*
    本文件定义 input 组件样式
*/

input {
    transition: filter 0.1s, outline 0.15s;
    border: 0;
    border-radius: var(--radius);
    background: rgba(var(--theme-color));
    outline: 0 solid rgb(var(--border-color), 0);
    padding: 8px 16px;
}

input:hover {
    filter: brightness(1.05);
    outline: 1.5px solid rgb(var(--border-color));
}

input:focus {
    filter: brightness(1.1);
    outline: 1.5px solid rgb(var(--highlight-color));
}
