/*
    *本文件未定义 webkit 适配

    使用时必须在 App.razor 中链接本样式表
*/

@import "palette.css";
@import "button.css";
@import "input.css";
@import "animation.css";
@import "highlight-widget-fix.css";
@import "layout.css";

*{
    user-select: none;
    outline: none;
    box-sizing: border-box;
    color: rgb(var(--text-color));
    z-index: 0;
}

html, body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p, a, b, span {
    margin: 0;
}