/*
    HyperUI 调色板
*/

* {
    --theme-color: 235, 235, 235;
    --theme-text-color: 25, 25, 25;
    --highlight-color: 245, 176, 65;
    --highlight-text-color: 255, 255, 255;
    --background-color: 250, 250, 250;
    --text-color: 25, 25, 25;
    --border-color: 100, 100, 100;
}